div > p span {
    color:palegreen;
}

nav > ul > li {
    font-weight: bolder;
}

article > h2 + h3{
    font-family:cursive;
}

section + p{
    color: cadetblue;
}

footer > ul > li > a:hover{
    font-size: xx-large;
    color: plum;
}

div.gallery > img + span {
    color: bisque;
}




